
// .wrapper {
//   margin-top: 100px; }
  
.orangebox {
  background-color: black;
  color: #3383F3;
  border: 5px solid #3383F3;
  text-align: left;
  list-style: none;
  border-radius: 10px;
  text-align: center;
  margin: 10%;
  padding: 2% 0 0 0;
  }

.songnames {
  color: red;
  text-decoration: underline;
  font-family: Russo One;
}

// .pleaseWork {
//   background-color: #160930;
//   font-family: Russo One;
// }

// .dropdown {
//   display: inline-block;
//   text-align: center;
//   list-style: none;
//   margin: 0 50% 0 50%;
//   border-radius: 5px;
//   border: 5px solid #3383F3;
//   background-color: black;
//   color: #3383F3;
//    }

// nav {
//   list-style: none;
//   text-align: center;
// }
